/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* reset end */

/* my styles */

/* theming */
:root {
    /* colours */
    --background-primary: #333333; 
    --background-secondary: #474747;
    --title: white;
    --red: #CD3939;
    --button-hover: #E55656;
    --text-primary: #E8E8E8;
    --text-secondary: #BFBFBF;
    --checkbox-border: #707070;
    --stat-bar-background: #D9D9D9;
    --drop-shadow: rgba(0, 0, 0, 0.16);

    /* pokemon type colours */
    --normal: #A8A77A;
    --fire: #EE8130;
    --water: #6390F0;
    --electric: #F7D02C;
    --grass: #7AC74C;
    --ice: #96D9D6;
    --fighting: #C22E28;
    --poison: #A33EA1;
    --ground: #E2BF65;
    --flying: #A98FF3;
    --psychic: #F95587;
    --bug: #A6B91A;
    --rock: #B6A136;
    --ghost: #735797;
    --dragon: #6F35FC;
    --dark: #705746;
    --steel: #B7B7CE;
    --fairy: #D685AD;
}

body {
    background-color: var(--background-primary);
    font-family: 'Inter', sans-serif;
    color: var(--text-primary);
    font-size: x-large;
    overflow-x: hidden;
}

header {
    background-color: var(--red);
    padding: 20px;
    box-shadow: 0px 3px 6px var(--drop-shadow);
    z-index: 10003;
}

h1 {
    color: var(--title);
    font-family: 'Roboto', sans-serif;
    font-size: xx-large;
    font-weight: 400;
}

main {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pokedex {
    display: grid;
    grid-template-columns: repeat(4, auto); /* 4 columns */
    grid-template-rows: auto;
    align-content: center;
    justify-items: center;
    gap: 20px;
}

/* load more button */

#loadMore {
    background-color: var(--red);
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: x-large;
    padding: 10px 20px;
    margin: 40px;
    border: none;
    border-radius: 32px;
    cursor: pointer;
    box-shadow: 0px 3px 6px var(--drop-shadow);
}

#loadMore:hover {
    background-color: var(--button-hover);
}

.button-div {
    display: flex;
    justify-content: center;

}

/* pokemon card */

.pokemon-card {
    display:flex;
    position: relative;
    flex-direction: column;
    background-color: var(--background-secondary);
    border-radius: 26px;
    padding: 12px 0px 0px 12px;
    width: 13vw;
    font-family: 'Roboto', sans-serif;
    box-shadow: 0px 3px 6px var(--drop-shadow);

}

.pokemon-details-top {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding-bottom: 10px;
    max-width: 100%;
    max-height: 100%;
}

.pokemon-details-bottom {
    display: flex;
    justify-content: space-between;
}


.pokemon-card p {
    text-transform: capitalize;
}

.pokemon-img {
    align-self: flex-end;
}

.pokemon-img img {
    max-width: 100%;
    max-height: 100%;
}

.pokemon-number {
    color: var(--text-secondary);
    font-size: large;
}

.pokemon-name {
    font-size: large;
    padding-bottom: 5px;
}

.pokemon-card:hover::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.2); /* overlay */
    border-radius: 26px;
    cursor: pointer;
}

/* caught pokemon checkbox toggle */

/* checkbox label */
.checkbox-label {
    display: flex;
    align-items: center;
}


/* unchecked */
.checkbox-custom {
    width: 26px;
    height: 26px;
    background-color: white;
    border: 1px solid var(--checkbox-border);
    border-radius: 50%;
    cursor: pointer;
    z-index: 1000;
}

.noBottomPadding {
    padding-bottom: 0px;
}

/* checked */
.default-checkbox:checked + .checkbox-custom::after {
    content: '';
    display: block;
    width: 26px;
    height: 26px;
    background-image: url('img/pokeball.png');
    background-size: contain;
    background-repeat: no-repeat;    
    background-color: transparent;
    border: none;
}

/* Hide the default checkbox */
.default-checkbox[type="checkbox"] {
    display: none;
}

/* pokemon details overlay */

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--background-primary);
    z-index: 10000;
    max-height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.overlay-background {
    position: sticky;
    top: 20%;
    left: 0;
    border-radius: 10px;
    width: 100vw;
    height: calc(100% - 100px);
    background-color: var(--background-secondary);
    z-index: 10001;
    overflow-y: scroll;

}
.overlay-content {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: center;
    position: sticky;
    top: 25%;
    left: 0;
    border-radius: 10px;
    width: auto;
    height: 100%;
    z-index: 10002;
    overflow-y: scroll;
}

.overlay-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;

}

#closeOverlay {
    z-index: 1000000;
}

#pokemonName {
    font-size: xx-large;
    text-transform: capitalize;
}

.pokemonType {
    margin: 10px 15px 10px 15px;
    padding: 10px 20px 10px 20px;
    border-radius: 4px;
    text-shadow: 1px 1px 2px #000000;
}

#pokemonNumber {
    color: var(--text-secondary);
}

/* pokemon types */
.normal {
    background-color: var(--normal);
    border: 1px solid #dbdaab; 
}

.grass {
    background-color: var(--grass);
    border: 1px solid #A2D883; 
}

.water {
    background-color: var(--water);
    border: 1px solid #AABBFF; /
}

.electric {
    background-color: var(--electric);
    border: 1px solid #FFE067; 
}

.fire {
    background-color: var(--fire);
    border: 1px solid #FF9C54; 
}

.ice {
    background-color: var(--ice);
    border: 1px solid #B3E0E5; 
}

.fighting {
    background-color: var(--fighting);
    border: 1px solid #D6786A; 
}

.poison {
    background-color: var(--poison);
    border: 1px solid #C76BC5; 
}

.ground {
    background-color: var(--ground);
    border: 1px solid #D9BF7E; 
}

.flying {
    background-color: var(--flying);
    border: 1px solid #d6baf8; 
}

.psychic {
    background-color: var(--psychic);
    border: 1px solid #FBA3B7; 
}

.bug {
    background-color: var(--bug);
    border: 1px solid #f6ff96; 
}

.rock {
    background-color: var(--rock);
    border: 1px solid #C1B28B; 
}

.ghost {
    background-color: var(--ghost);
    border: 1px solid #8B79B7; 
}

.dragon {
    background-color: var(--dragon);
    border: 1px solid #9778E5; 
}

.dark {
    background-color: var(--dark);
    border: 1px solid #8E756D; 
}

.steel {
    background-color: var(--steel);
    border: 1px solid #C1C1D0; 
}

.fairy {
    background-color: var(--fairy);
    border: 1px solid #E09EBA; 
}



/* pokemon types end */

#pokemonTypeContainer {
    display: flex;
}

#pokemonAbilitiesContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 70%;
    padding-top: 30px;
}
#pokemonAbilitiesContainer h3 {
    font-weight: 500;
    font-size: x-large;
}
#pokemonAbilities > p:nth-child(2) {
    padding-left: 10px;
}

#pokemonAbilities {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    color: var(--text-secondary);
    row-gap: 10px;

}

#pokemonAbilities > h3 {
    color: var(--text-primary);
}

h3 {
    font-size: x-large;
}

.abilityName {
    font-size: x-large;
}

#pokemonStats {
    display: flex;
    flex-direction: column;
    width: 70%;
    padding-top: 20px;
    padding-bottom: 30px;
}
#pokemonStats h3 {
    padding-bottom: 20px;
}

.stat-bar-container {
    background-color: var(--stat-bar-background);
    min-height: 24px;
    flex-grow: 1;
    
}

#hpBar, #atkBar, #defBar, #spAtkBar, #spDefBar, #speedBar {
    min-height: 24px;
    background-color: var(--grass);
}

.stat-bar-number {
    font-size: large;
    padding-left: 5%;
    padding-top: 3px;
    color: var(--text-primary);
}

/* individual stat bars */
#hpBar {
    width: 45%;
}
#atkBar {
    width: 49%;
}
#defBar {
    width: 49%
}
#spAtkBar {
    width: 65%;
}
#spDefBar {
    width: 65%;
}
#speedBar {
    width: 45%;
}

.stats-list {
    display: flex;
    padding-bottom: 20px;
}


.stat-title {
    padding-right: 25px;
    width: 100px;
}


#officialArtworkImg {
    width: 100%;
    height: auto;
    
}
#officialArtwork {
    max-width: 60%;
}



/* back button */
#closeOverlay {
    background: none;
    border: none;
    cursor: pointer;
    font-size: x-large;
    color: var(--text-secondary);
    position: absolute;
    top: 20px;
    left: 20px;
}


/* responsive styles */

/* tablet */

@media (max-width: 768px) {

    .pokedex {
        grid-template-columns: repeat(3, auto);
    }

    .pokemon-card {
        width: 28vw;
    }
}

/* mobile */


@media (max-width: 480px) {

    .pokedex {
        grid-template-columns: repeat(2, auto);
    }

    .pokemon-card {
        width: 40vw;
    }

}





